<!DOCTYPE html>
<html lang="en">
<header th:fragment="header">
    <nav>
        <ul>
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/Diet}">Diet</a></li>
            <li><a th:href="@{/Workout}">Workout</a></li>
            <li><a th:href="@{/Recovery}">Recovery</a></li>
            <li style="float:right ; font-family: Chiller"><a th:href="@{/index}">JJP ENTERPRISE</a></li>
        </ul>

    </nav>
</header>

<footer th:fragment="footer">
    <br>
    2022 PerezProducts.com
</footer>
</html>