<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JJP ENTERPRISE</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/headfoot :: header"></div>

<img class="hero-image-home" th:src="@{/img/pexels-leon-ardho-1552103.jpg}">
    <div class="hero-text">
        <h1>Building Structure To Your Life</h1>
        <p>Presented by: Jacob Perez</p>
    </div>
<div class="main-context">
    <h2>Where to Start</h2>
    <p>Many poeple get the wrong idea when it comes to getting in shape that only cardio and working out give you the six-pack abs.
        This website will dive into the truth about getting in shape and getting real result not the over glorified versions of humans on social media.</p>
    <h2>Where Do I start for Workout Plan?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus id interdum velit laoreet id. Venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam. Diam vel quam elementum pulvinar etiam non quam lacus. Tellus integer feugiat scelerisque varius morbi. Eu feugiat pretium nibh ipsum consequat nisl. Non odio euismod lacinia at. Quisque non tellus orci ac auctor augue mauris. Ut etiam sit amet nisl purus. Euismod elementum nisi quis eleifend. Eget lorem dolor sed viverra. Nisl purus in mollis nunc. Cursus eget nunc scelerisque viverra. Ut sem nulla pharetra diam sit. Commodo ullamcorper a lacus vestibulum sed arcu non. Vitae elementum curabitur vitae nunc sed. Feugiat in fermentum posuere urna nec tincidunt. Gravida dictum fusce ut placerat orci nulla pellentesque.
        A erat nam at lectus urna. Interdum velit euismod in pellentesque massa placerat. Gravida in fermentum et sollicitudin ac. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Viverra orci sagittis eu volutpat odio facilisis mauris. Cum sociis natoque penatibus et. Dolor sit amet consectetur adipiscing elit. Turpis cursus in hac habitasse platea dictumst quisque sagittis. Vitae aliquet nec ullamcorper sit amet risus. Ornare quam viverra orci sagittis eu volutpat odio. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Nulla facilisi cras fermentum odio eu. Purus non enim praesent elementum facilisis leo vel fringilla est. Aliquet bibendum enim facilisis gravida neque. Integer enim neque volutpat ac tincidunt.
        Posuere ac ut consequat semper viverra nam libero justo. Dictum fusce ut placerat orci nulla.
        Vel facilisis volutpat est velit egestas dui id ornare arcu.
        Mauris rhoncus aenean vel elit. Massa ultricies mi quis hendrerit dolor. Platea dictumst vestibulum rhoncus est pellentesque elit.
        Nunc mattis enim ut tellus elementum sagittis. Purus gravida quis blandit turpis cursus in hac habitasse platea. Platea dictumst vestibulum rhoncus est. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere. Nulla at volutpat diam ut venenatis. Quis hendrerit dolor magna eget est lorem ipsum dolor sit. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Posuere lorem ipsum dolor sit amet.
        Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in. Sit amet purus gravida quis blandit turpis cursus in hac.
        Vulputate eu scelerisque felis imperdiet. Nunc vel risus commodo viverra maecenas accumsan lacus vel. Adipiscing enim eu turpis egestas pretium. Nam at lectus urna duis convallis. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Non nisi est sit amet facilisis magna. Varius duis at consectetur lorem donec. Risus commodo viverra maecenas accumsan. Pellentesque nec nam aliquam sem. Neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Neque convallis a cras semper auctor neque vitae tempus. Urna nec tincidunt praesent semper feugiat nibh.
        Tempor nec feugiat nisl pretium fusce id velit ut. Odio tempor orci dapibus ultrices in. Ut porttitor leo a diam sollicitudin.
        Condimentum id venenatis a condimentum vitae sapien. Elementum curabitur vitae nunc sed velit dignissim sodales.
        Et malesuada fames ac turpis egestas maecenas pharetra convallis. Consectetur libero id faucibus nisl tincidunt eget nullam non nisi. Potenti nullam ac tortor vitae. Aliquam ultrices sagittis orci a scelerisque purus semper eget. Senectus et netus et malesuada. Tellus cras adipiscing enim eu turpis. Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget. Interdum velit laoreet id donec ultrices tincidunt arcu. Feugiat scelerisque varius morbi enim nunc faucibus. Ullamcorper sit amet risus nullam. Feugiat vivamus at augue eget arcu dictum. Magna etiam tempor orci eu lobortis elementum. Neque sodales ut etiam sit amet nisl purus in mollis. Eget duis at tellus at urna condimentum. Donec et odio pellentesque diam volutpat commodo sed.
    </p>
</div>
<div th:replace="fragments/headfoot :: footer"></div>
</body>
</html>